@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'keen-slider/keen-slider.min.css';
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #232323;
  --font-mono-montserrat: 'Montserrat', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #232323;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

html  {
  overflow-x: hidden;
  height: 100%;
}
